@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,900;1,900&family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ;
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media print {
  body * {
    visibility: hidden;
  }
  .print-section-1, .print-section-1 *{
    visibility: visible;
  }
  .print-section-1 {
    position: absolute;
    left: 0;
    top: 0;
  }

  .print-section-2, .print-section-2 *{
    visibility: visible;
  }
  .print-section-2 {
    position: absolute;
    left: 0;
    top: 0;
  }
}