# Dependency directories
node_modules/
.pnpm/
yarn-error.log

# Environment variables file
.env

# Build files
/dist/
/build/

# IDE/Editor files
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# User-specific files
.DS_Store

.env

/.cache/
/.vite/

# Build files
/dist/
/build/

#uploaded images

server/Public/uploads/bannerImages/*
server/Public/uploads/primaryImages/*
server/Public/uploads/secondaryImages/*
server/Public/uploads/icons/*

